// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
//datepicker
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
//datetimepicker
@import '~bootstrap-datetime-picker/css/bootstrap-datetimepicker.css';
//dropzone
@import '~dropzone/dist/dropzone.css';
//daterangepicker
@import '~daterangepicker/daterangepicker.css';
// AdminLTE
@import '../../vendor/almasaeed2010/adminlte/plugins/select2/css/select2.min.css';
@import '../../vendor/almasaeed2010/adminlte/plugins/sweetalert2/sweetalert2.css';
@import '../../vendor/almasaeed2010/adminlte/plugins/ekko-lightbox/ekko-lightbox.css';
// @import '../../vendor/almasaeed2010/adminlte/plugins/toastr/toastr.css';
@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';
// Bootstrap
// Already imported by AdminLTE
// @import '~bootstrap/scss/bootstrap';

.datepicker-days, .datetimepicker-days{
    padding: 0px 5px;
}

.datepicker td, .datepicker th, .datetimepicker td, .datetimepicker th{
    width: 30px;
    height: 30px;
}

.users-list > li img.not_rounded {
    height: 25px;
    max-width: 25px;
    border-radius: 0;
}

.users-list > li {
    // min-height: 150px;
    width: 14%;
    padding: 5px;
}

.pointer {
    cursor: pointer;
}

.products-list .product-img img {
    height: 80px;
    width: 80px;
}

.products-list .product-info {
    margin-left: 110px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropzone .dz-preview .dz-image img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.product-image {
    object-fit: contain;
}

.product-image-thumb.active {
    background-color: #d4cdcd;
}

.d-flex-not-important {
    display: -ms-flexbox;
    display: flex;
}

.center-cropped {
    object-fit: cover;
    object-position: center;
}

.sorting-form, .sorting {
    cursor: pointer;
}

.sorting-form:hover, .sorting:hover {
    color: #168cb9;
}

.btn-circle {
    border-radius: 15px;
    text-align: center;
}

.form-control {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

.select2-container--default .select2-selection--single {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

@media print{
    .main-footer{
        display: none;
    }
}
  
@media (max-width: 1199.98px) {
}
  
@media (max-width: 991.98px) {
}
  
@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
    .users-list > li {
        min-height: 180px;
        width: 50%;
    }
}