<template>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ trans('global.list') }} {{ trans('stock_opname.label.product') }}</h3>
            <div class="card-tools">
                <input type="text" v-model="search.query" class="form-control form-control-sm" placeholder="Keyword">
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">{{ trans('global.no') }}</th>
                        <th class="text-center">{{ trans('purchase_order.label.product_id') }}</th>
                        <th class="text-center">{{ trans('stock_opname.label.stock_on_system') }}</th>
                        <th class="text-center">{{ trans('stock_opname.label.stock_on_hand') }}</th>
                        <th class="text-center">{{ trans('stock_opname.label.information') }}</th>
                        <th class="text-center">{{ trans('stock_opname.label.status') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(product, index) in filterProducts" :key="index">
                        <td class="text-center">{{ (parseInt(index)+1) }}</td>
                        <td class="text-wrap">
                            <input type="hidden" v-bind:name="'products[' + index + '][product_id]'" :value="product.product.id"/>
                            <input type="hidden" v-bind:name="'products[' + index + '][product_identity_id]'" :value="product.id"/>
                            {{ product.product.name }}

                            <p class="m-0">
                                <small>
                                    <strong>{{ trans('purchase_order.label.identity') }}: </strong> {{ product.identity }}
                                </small>
                            </p>
                            <p class="m-0">
                                <small>
                                    <strong>{{ trans('product.label.expired_date') }}: </strong> {{ product.expired_date }}
                                </small>
                            </p>
                        </td>
                        <td class="text-center">
                            <input type="hidden" v-bind:name="'products[' + index + '][stock_on_system]'" v-model="product.pivot.stock_on_system"/>
                            {{ product.pivot.stock_on_system.format() }}
                        </td>
                        <td class="text-center">
                            <input type="hidden" v-bind:name="'products[' + index + '][stock_on_hand]'" v-model="product.pivot.stock_on_hand">

                            <input type="number" :value="formatPrice(product.pivot.stock_on_hand)" @keyup="inputStockOnHand(product,$event)">
                        </td>
                        <td class="text-center">
                            <textarea v-bind:name="'products[' + index + '][information]'" v-model="product.pivot.information" rows="2"></textarea>
                        </td>
                        <td class="text-center">
                            <input type="hidden" v-bind:name="'products[' + index + '][status]'" v-model="product.pivot.status"/>
                            {{ trans('stock_opname.list.match_status.' + product.pivot.status) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="card-footer card-footer clearfix">
            <pagination
                :pagination="products"
                @paginate="search_product()"
                :offset="4">
            </pagination>
        </div> -->
    </div>
</template>
<script>
import axios from 'axios';

export default {   
    props: {
        stock_opname_id: Number,
    },     
    data() {
        return {
            products: [],
            search: {
                query: '',
            },
        }
    },
    computed: {
        filterProducts: function () {
            var self = this;
            return this.products.filter(function (product) {
                if(self.search.query !== '') {
                    var q_ = self.search.query.toLowerCase();
                    var s_name = product.product.name.toLowerCase().search(q_);
                    var s_identity = product.identity ? product.identity.toLowerCase().search(q_) : -1;
                    
                    return (s_name >= 0 || s_identity >= 0);
                }

                return true;
            })
        }
    },
    mounted() {
        this.search_product();
    },
    methods: {
        search_product(e) {
            var self = this;
            var param = `rc=all`;
            var url = `${CONFIG.base_url}/ajax/list-product-sop/${this.stock_opname_id}?${param}`;

            axios.get(url)
            .then(function (response) {
                self.products = response.data;
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
            });
        },
        inputStockOnHand(product, event) {
            var value = this.number(event.target.value);
            product.pivot.stock_on_hand = value;
            event.target.value = this.formatPrice(product.pivot.stock_on_hand);

            if (product.pivot.stock_on_hand == product.pivot.stock_on_system) {
                product.pivot.status = 1;
            } else {
                product.pivot.status = 0;
            }
        },
        formatPrice(value) {
            return typeof value == 'string' ? value.parseFloatId().format() : value.format();
        },
        number(value) {
			if (value == '' || value == undefined || value == null) {
				value = 0;
			}
			var number = JSON.parse(JSON.stringify(value));
            return typeof number == 'string' ? number.parseFloatId() : number;
        }
    }
}
</script>