<template>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ trans('global.list') }} {{ trans('stock_opname.label.product') }}</h3>
            <div class="card-tools">
                <input type="text" v-model="search.query" class="form-control form-control-sm" placeholder="Keyword" @keyup="search_product">
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">{{ trans('global.no') }}</th>
                        <th class="text-center">{{ trans('purchase_order.label.product_id') }}</th>
                        <th class="text-center">{{ trans('purchase_order.label.identity') }}</th>
                        <th class="text-center">{{ trans('product.label.expired_date') }}</th>
                        <th class="text-center">{{ trans('stock_opname.label.stock_on_system') }}</th>
                        <th class="text-center">{{ trans('stock_opname.label.stock_on_hand') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(product, index) in products.data" :key="index">
                        <td class="text-center">{{ products.from+index }}</td>
                        <td class="text-wrap">{{ product.product.name }}</td>
                        <td class="text-center">{{ product.identity }}</td>
                        <td class="text-center">{{ product.expired_date }}</td>
                        <td class="text-center">{{ product.pivot.stock_on_system }}</td>
                        <td class="text-center">{{ product.pivot.stock_on_hand }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer card-footer clearfix">
            <pagination
                :pagination="products"
                @paginate="search_product()"
                :offset="4">
            </pagination>
        </div>
    </div>
</template>
<script>
import axios from 'axios';

export default {   
    props: {
        stock_opname_id: Number,
    },     
    data() {
        return {
            products: {
                total: 0,
                per_page: 2,
                from: 1,
                to: 0,
                current_page: 1
            },
            search: {
                query: '',
            },
        }
    },
    mounted() {
        this.search_product();
    },
    methods: {
        search_by_query(e) {
            if (this.search.query.length > 3 || this.search.query.length == 0) {
                this.products.current_page = 1;
                this.search_product(e);
            }
        },
        search_product(e) {
            var self = this;
            var param = `q=${this.search.query}&page=${this.products.current_page}`;
            var url = `${CONFIG.base_url}/ajax/list-product-sop/${this.stock_opname_id}?${param}`;

            axios.get(url)
            .then(function (response) {
                // self.paginate_products = response.data;
                self.products = response.data;
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
            });
        },
    }
}
</script>