<template>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12 col-lg-4"></div>
                <div class="col-sm-12 col-lg-4 mt-3">
                    <select2 @change="search_product" :options="branchs" v-model="search.branch_id">
                        <option value="0">{{ trans('global.all') }}</option>
                    </select2>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-2 mt-3">
                    <select @change="search_product" class="form-control" v-model="search.operator">
                        <option v-for="(operator, index) in trans('global.array.operator')" :key="index" :value="index">{{ operator }}</option>
                    </select>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-2 mt-3">
                    <input type="number"  v-model="search.stock" class="form-control" placeholder="Stock" @change="search_product">
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">{{ trans('global.no') }}</th>
                        <th>{{ trans('purchase_order.label.branch_id') }}</th>
                        <th class="text-center">{{ trans('purchase_order.label.identity') }}</th>
                        <th class="text-center">{{ trans('stock.label.stock') }}</th>
                        <th class="text-center">{{ trans('product.label.expired_date') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(product, index) in products.data" :key="index">
                        <td class="text-center">{{ index+1 }}</td>
                        <td>{{ product.branch.name }}</td>
                        <td class="text-center">{{ product.identity }}</td>
                        <td class="text-center">{{ product.stock }}</td>
                        <td class="text-center">{{ product.expired_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer card-footer clearfix">
            <pagination
                :pagination="products"
                @paginate="search_product()"
                :offset="4">
            </pagination>
        </div>
    </div>
</template>
<script>
import axios from 'axios';

export default {   
    props: {
        branchs: Array,
        product_id: Number,
    },     
    data() {
        return {
            products: {
                total: 0,
                per_page: 2,
                from: 1,
                to: 0,
                current_page: 1
            },
            search: {
                branch_id: 0,
                operator: 0,
                stock: 0,
                query: '',
            },
        }
    },
    mounted() {
        this.search_product();
    },
    methods: {
        search_by_query(e) {
            if (this.search.query.length >= 3 || this.search.query.length == 0) {
                this.products.current_page = 1;
                this.search_product(e);
            }
        },
        search_product(e) {
            var self = this;
            var param = `bc=${this.search.branch_id}&op=${this.search.operator}&stock=${this.search.stock}`;
            var url = `${CONFIG.base_url}/ajax/list-product-identity/${this.product_id}?page=${this.products.current_page}&${param}`;

            axios.get(url)
            .then(function (response) {
                // self.paginate_products = response.data;
                self.products = response.data;
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
            });
        },
    }
}
</script>