<script>
export default{
    props: ["options", "value", "option_disabled", "url"],
    'template': "<select class='form-control' style='width:100%'><slot></slot></select>",
    data() {
        return {
            el_select2: null,
            ajaxOptions: {
                url: this.url,
                dataType: 'json',
                delay: 250,
                tags: true,
                data: function(params) {
                    return {
                        query: params.term, // search term
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function(data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.count
                        }
                    };
                },
                cache: true
            }
        }
    },
    updated: function() {
        var vm = this;
        
        if (this.el_select2 == null) {
            if (this.options) {
                this.el_select2 = $(this.$el).select2({ data: this.options });
            } else {
                this.el_select2 = $(this.$el).select2({ ajax: this.ajaxOptions });
            }
        }
        
        this.el_select2.val(this.value)
            .trigger("change")
            .on("change", function() {
                vm.$emit("input", this.value);
            });

        if (this.option_disabled !== undefined && this.option_disabled == 1) {
            $(this.$el).prop('disabled', true);
        }
    },
    watch: {
        value: function(value) {
            this.$emit('change', this.value);
        },
        options: function(options) {
            // update options
            $(this.$el)
                .empty()
                .select2({ data: options });
        },
        url: function(value) {
            this.ajaxOptions.url = this.url;
            $(this.$el).select2({
                ajax: this.ajaxOptions
            });
        }
    },
    destroyed: function() {
        $(this.$el)
            .off()
            .select2("destroy");
    }
}
</script>