<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <label>{{ trans('product.label.brand_id') }}</label>
                            <select2 @change="search_product" :options="brands" v-model="search.brand_id">
                                <option value="0">{{ trans('global.all') }}</option>
                            </select2>
                        </div>
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <label>{{ trans('product.label.category_id') }}</label>
                            <select2 @change="search_product" :options="categories" v-model="search.category_id">
                                <option value="0">{{ trans('global.all') }}</option>
                            </select2>
                        </div>
                        <!-- <div class="col-sm-12 col-lg-6 mt-3">
                            <select2 name="branch_id" @change="search_product" :options="branchs" v-model="search.branch_id">
                                <option value="0">{{ trans('global.all') }}</option>
                            </select2>
                        </div> -->
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <label for="keyword">{{ trans('global.keyword') }}</label>
                            <div class="input-group input-group-md">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" @keyup="search_by_query"  v-model="search.query">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6 mt-3" v-if="has_permission('master.product.create')">
                            <label for="keyword" style="width:100%">&nbsp;</label>
                            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-product">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-1 m-1">
                    <table class="table table-striped table-valign-middle table-hover">
                        <tbody>
                            <tr v-for="(product, index) in products" :key="product.product_id" class="pointer" v-on:click="select_product(index)">
                                <td class="img-size-32 text-center">
                                    <img v-bind:src="product.image" v-bind:alt="product.name" class="not_rounded img-size-32 mr-2">
                                </td>
                                <td>
                                    {{ product.name }}
                                    <span class="users-list-date">
                                        <small>{{product.identity}}</small>
                                    </span>
                                </td>
                                <td>
                                    {{ formatPrice(product.sell_price) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <ul class="users-list clearfix">
                        <li v-for="(product, index) in products" :key="product.product_id">
                            <a class="pointer" v-on:click="select_product(index)">
                                <img class="not_rounded" v-bind:src="product.image" v-bind:alt="product.name">
                                <span class="users-list-name">{{ product.name }}</span>
                                <span class="users-list-date">{{ formatPrice(product.sell_price) }}</span>
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ trans('purchase_order.label.list_product') }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <ul v-for="(s_product, i_select) in selected_products" :key="i_select" 
                        class="products-list product-list-in-card pl-2 pr-2">
                        <li class="item">
                            <div class="product-img">
                                <img v-bind:src="s_product.image" alt="Product Image" class="img-size-50">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">
                                    {{ s_product.name }}

                                    <button type="button" class="btn btn-xs btn-danger float-right" v-on:click="remove_selected(s_product)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </a>
                                <span class="product-description pr-2 mt-3">
                                    {{ s_product.category }} | {{ s_product.brand }}

                                    <span class="badge badge-warning float-right">{{ formatPrice(s_product.sell_price) }}</span>
                                </span>
                            </div>
                            <div class="row product-info">
                                <div class="form-group col-sm-6">
                                    <datepicker :input-class="'form-control form-control-sm'" :format="customFormatter" v-show="s_product.with_expired_date != 0" v-bind:name="'products[' + i_select + '][expired_date]'" v-model="s_product.expired_date" v-bind:placeholder="trans('purchase_order.placeholder.expired_date')"></datepicker>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" class="form-control form-control-sm" v-on:blur="checkDuplicateIdentity(s_product)" v-show="s_product.identifier != 0" v-bind:name="'products[' + i_select + '][identity]'" v-model="s_product.identity" v-bind:placeholder="trans('purchase_order.placeholder.identity')">
                                </div>
                            </div>
                            <div class="row product-info">
                                <div class="form-group col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button v-on:click="minus(s_product)" type="button" class="btn btn-sm btn-danger">-</button>
                                        </div>
                                        <input type="number" v-bind:name="'products[' + i_select + '][qty]'" class="form-control text-center" @keyup="changeQty(s_product,$event)" :value="s_product.qty" min="1">
                                        <div class="input-group-prepend">
                                            <button v-on:click="add(s_product)" type="button" class="btn btn-sm btn-success">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" class="form-control form-control-sm" v-bind:name="'products[' + i_select + '][purchase_price_format]'" v-model="s_product.purchase_price_format" @keyup="formatInputPrice(s_product)" v-bind:placeholder="trans('purchase_order.label.purchase_price')">
                                </div>
                                <div class="form-group col-sm-4">
                                    <span class="badge badge-success float-right">{{ s_product.total_amount_format }}</span>
                                </div>
                                <input type="hidden" v-bind:name="'products[' + i_select + '][detail_id]'" class="form-control text-center" v-bind:value="s_product.detail_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][total_amount]'" class="form-control text-center" v-bind:value="s_product.total_amount">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][product_id]'" class="form-control text-center" v-bind:value="s_product.product_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][sell_price]'" class="form-control text-center" v-bind:value="s_product.sell_price">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][cost_of_goods]'" class="form-control text-center" v-bind:value="s_product.cost_of_goods">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][image]'" class="form-control text-center" v-bind:value="s_product.image">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][brand]'" class="form-control text-center" v-bind:value="s_product.brand">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][category]'" class="form-control text-center" v-bind:value="s_product.category">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][name]'" class="form-control text-center" v-bind:value="s_product.name">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][purchase_price]'" class="form-control text-center" v-bind:value="s_product.purchase_price">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][identifier]'" class="form-control text-center" v-bind:value="s_product.identifier">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][with_expired_date]'" class="form-control text-center" v-bind:value="s_product.with_expired_date">
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                        <p class="text-success text-lg">
                            {{ trans('purchase_order.label.total') }}
                        </p>
                        <p class="d-flex flex-column text-right">
                            <span class="font-weight-bold">
                                <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(total_po) }}
                            </span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                        <p class="text-warning text-lg">
                            {{ trans('purchase_order.label.pay') }}
                        </p>
                        <p class="d-flex flex-column text-right">
                            <input type="text" v-model="down_payment" name="down_payment" @keyup="calculateReturnMoney" class="form-control format-number text-right">
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                        <p class="text-danger text-lg">
                            {{ trans('purchase_order.label.return_money') }}
                        </p>
                        <p class="d-flex flex-column text-right">
                            <span class="font-weight-bold">
                                <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(return_money) }}
                            </span>
                        </p>
                    </div>
                </div>
                <!-- /.card-footer -->
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import Datepicker from 'vuejs-datepicker';

export default {   
    props: {
        categories: Array,
        // branchs: Array,
        brands: Array,
        input_products: Array,
        input_down_payment: String | Number
    },
    components: {
        Datepicker
    },
    data() {
        return {
            paginate_products: [],
            products: [],
            selected_products: [],
            search: {
                category_id: 0,
                // branch_id: 0,
                brand_id: 0,
                query: '',
            },
            total_po: 0,
            return_money: 0,
            down_payment: 0
        }
    },
    mounted() {
        var self = this;
        this.search_product();
        this.selected_products = this.input_products;
        
        this.selected_products.forEach(function(v) {
            v.purchase_price_format = self.number(v.purchase_price).format();

            v.total_amount_format = self.number(v.total_amount).format();
        });
        this.down_payment = this.input_down_payment.format();

        this.calculateTotalAll();
        this.calculateReturnMoney();
    },
    methods: {
        search_by_query(e) {
            this.search_product(e);    
        },
        search_product(e) {
            var self = this;
            var param = "q=" + encodeURI(this.search.query) + "&bd=" + this.search.brand_id + "&c=" + this.search.category_id
            // + "&bc=" + this.search.branch_id;

            axios.get(CONFIG.base_url + '/ajax/list-product?' + param)
            .then(function (response) {
                self.paginate_products = response.data;
                self.products = response.data.data;
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
            });
        },
        select_product(index) {
            var products = JSON.parse(JSON.stringify(this.products));
            let s_product = products[index];
            
            var exists = undefined;
            if (s_product.identifier == 0 && (exists = this.selected_products.find(item => item.product_id == s_product.product_id)) !== undefined) {
                exists.qty += 1;
                this.calculateTotal(exists);
            } else {
                s_product.total_amount_format = 0;
                s_product.purchase_price_format = 0;
                s_product.qty = 1;
                this.selected_products.unshift(s_product);
            }
        },
        add(s_product) {
            var self = this;
            var product = s_product;
            
            if (product.identifier == 1 && product.qty >= 1) {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: self.trans('purchase_order.message.error_add_qty')
                })
            } else {
                let qty = product.qty == undefined ? 0 : product.qty;;
                qty++;
                product.qty = qty;

                this.calculateTotal(s_product);
            }
        },
        changeQty(s_product, event) {
            var self = this;
            var product = s_product;
            
            if (product.identifier == 1 && product.qty >= 1) {
                event.target.value = s_product.qty;
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: self.trans('purchase_order.message.error_add_qty')
                })
            } else {
                s_product.qty = event.target.value
                this.calculateTotal(s_product);
            }
        },
        minus(s_product) {
            var product = s_product;
            let qty = product.qty == undefined ? 0 : product.qty;;
            qty--;
            product.qty = qty < 0 ? 0 : qty;

            if (qty <= 1) {
                this.remove_selected(s_product);
            }

            this.calculateTotal(s_product);
        },
        formatPrice(value) {
            return this.number(value).format();
        },
        formatInputPrice(s_product) {
            if ( s_product.purchase_price_format != '' ) {
                s_product.purchase_price_format = s_product.purchase_price_format.parseFloatId().format();
            } else {
                s_product.purchase_price_format = "0";
            }
            s_product.purchase_price = s_product.purchase_price_format.parseFloatId();

            this.calculateTotal(s_product);
        },
        calculateTotal(s_product) {
            var purchase_price = s_product.purchase_price;
            var qty = typeof s_product.qty == 'string' ? s_product.qty.parseFloatId() : s_product.qty;
            var total_amount = purchase_price * qty;
            s_product.total_amount = total_amount;
            s_product.total_amount_format = total_amount.format();

            this.calculateTotalAll();
            this.calculateReturnMoney();
        },
        calculateTotalAll() {
            var total = 0;
            this.selected_products.forEach(function(v) {
                total += typeof v.total_amount == 'string' ? v.total_amount.parseFloatId() : v.total_amount;
            });
            this.total_po = total;
        },
        calculateReturnMoney() {
            var down_payment = typeof this.down_payment == 'string' ? this.down_payment.parseFloatId() : this.down_payment;
            
            this.return_money = down_payment - this.total_po;
        },
        remove_selected(s_product)
        {
            var self = this;
            const swal_confirm = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ml-1',
                    cancelButton: 'btn btn-danger mr-1'
                },
                buttonsStyling: false
            })

            swal_confirm.fire({
                title: self.trans('global.delete'),
                text: self.trans('purchase_order.message.description_delete'),
                type: 'warning',      
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true,
                showLoaderOnConfirm: true,
            }).then((result) => {
                if (result.value) {
                    var index = this.selected_products.indexOf(s_product);
                    if (index > -1) {
                        this.selected_products.splice(index, 1);
                        this.calculateTotalAll();
                        this.calculateReturnMoney();
                    }
                }
            })
        },
        checkDuplicateIdentity(s_product) {
            var self = this;
            var index = this.selected_products.indexOf(s_product);
            var el = document.getElementsByName("products["+index+"][identity]")[0];

            if (s_product.identity == undefined) {
                Toast.fire({
                    type: 'error',
                    title: self.trans('purchase_order.message.error_required_identity')
                })
                el.focus();
            } else {
                var exists = this.selected_products.filter(function (p, i) {
                    return index != i && s_product.product_id == p.product_id && s_product.identity == p.identity;
                });

                if (exists.length >= 1) {
                    Toast.fire({
                        type: 'error',
                        title: self.trans('purchase_order.message.error_duplicate_identity')
                    })

                    s_product.identity = "";
                    el.focus();
                }
            }
        },
        customFormatter(date) {
            return moment(date).format('Y-MM-DD');
        },
        number(value) {
			if (value == '' || value == undefined || value == null) {
				value = 0;
			}
			var number = JSON.parse(JSON.stringify(value));
            return typeof number == 'string' ? number.parseFloatId() : number;
        }
    }
}
</script>