<template>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <!-- <div class="col-xs-12 col-sm-12 col-lg-4">
                        <div class="form-group">
                            <label for="member_id">{{ trans('sales_order.label.member_id') }}</label>
                            <select2 name="member_id" @change="change_member" :options="members" v-model="member.id" :option_disabled="update==1" >
                                <option value="0"></option>
                            </select2>
                        </div>
                    </div> -->
                    <div class="col-xs-12 col-sm-12 col-lg-8">
                        <div class="form-group">
                            <label for="name">{{ trans('sales_order.label.name') }}</label>
                            <input type="text" name="name" class="form-control" v-bind:placeholder="trans('sales_order.placeholder.name')" autocomplete="off" v-model="member.name" :readonly="update==1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-4">
                        <div class="form-group">
                            <label for="phone">{{ trans('sales_order.label.phone') }}</label>
                            <input type="text" name="phone" class="form-control" v-bind:placeholder="trans('sales_order.placeholder.phone')" autocomplete="off" v-model="member.phone" :readonly="update==1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-8">
                        <div class="form-group">
                            <label for="address">{{trans('sales_order.label.address')}}</label>
                            <input type="text" name="address" class="form-control" v-bind:placeholder="trans('sales_order.placeholder.address')" autocomplete="off" v-model="member.address" :readonly="update==1">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
        </div>

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 col-lg-4 mt-3">
                        <div class="form-group">
                            <label for="branch_id">{{ trans('sales_order.label.branch_id') }}</label>
                            <select2 name="branch_id" @change="change_branch" :options="branchs" v-model="search_branch_id" :option_disabled="update==1 || input_is_employee==1">
                                <option value="0" disabled></option>
                            </select2>
                        </div>
                    </div>
                    <!-- <div class="col-sm-12 col-lg-4 mt-3">
                        <label for="brand_id">{{ trans('product.label.brand_id') }}</label>
                        <select2 @change="search_product" :options="brands" v-model="search.brand_id">
                            <option value="0">{{ trans('global.all') }}</option>
                        </select2>
                    </div> -->
                    <div class="col-sm-12 col-lg-4 mt-3">
                        <label for="category_id">{{ trans('product.label.category_id') }}</label>
                        <select2 @change="search_product" :options="categories" v-model="search.category_id">
                            <option value="0">{{ trans('global.all') }}</option>
                        </select2>
                    </div>
                    <div class="col-sm-12 col-lg-4 mt-3">
                        <div class="form-group">
                            <label for="keyword">{{ trans('global.keyword') }}</label>
                            <input type="text" ref="keyword" name="table_search" class="form-control" placeholder="Search" @keyup="search_by_query"  v-model="search.query">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle table-hover">
                    <tbody>
                        <tr v-for="(product, index) in products" :key="product.id" class="pointer" v-on:click="select_product(index)">
                            <td class="img-size-32 text-center">
                                <img v-bind:src="product.image" v-bind:alt="product.name" @error="imgError" class="not_rounded img-size-32 mr-2">
                            </td>
                            <td>
                                {{ product.name }}
                                <span class="users-list-date">
                                    <small>{{product.identity}}</small>
                                </span>
                            </td>
                            <td>
                                <s v-if="product.discount > 0">{{ formatPrice(product.sell_price) }}</s>
                                {{ formatPrice(product.sell_price - product.discount) }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <ul class="users-list clearfix">
                    <li v-for="(product, index) in products" :key="product.id">
                        <a class="pointer" v-on:click="select_product(index)">
                            <img class="not_rounded" v-bind:src="product.image" v-bind:alt="product.name" @error="imgError">
                            <span class="users-list-name">{{ product.name }}</span>
                            <span class="users-list-date" v-if="product.identity !== ''">
                                {{product.identity}}
                            </span>
                            <span class="users-list-date">
                                <s v-if="product.discount > 0">{{ formatPrice(product.sell_price) }}</s>
                                {{ formatPrice(product.sell_price - product.discount) }}
                            </span>
                        </a>
                    </li>
                </ul> -->
            </div>
        </div>

        <div class="card">
            <div class="card-body text-center">
                <!-- 
                <div class="d-flex justify-content-between align-items-center mb-1">
                    <p class="text-warning text-md">
                        &nbsp;
                    </p>
                    <div class="d-flex flex-column text-rightcustom-control custom-checkbox">
                        <input class="custom-control-input" name="is_ppn" type="checkbox" id="so-is_ppn" v-model="is_ppn">
                        <label for="so-is_ppn" class="custom-control-label">{{ trans('sales_order.label.is_ppn') }}</label>
                    </div>
                </div>
                 -->
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-success text-md">
                        {{ trans('sales_order.label.subtotal') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <span class="font-weight-bold">
                            <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(total_first_so) }}
                        </span>
                    </p>
                </div>
                <!-- 
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-danger text-md">
                        {{ trans('sales_order.label.total_discount_detail') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(total_discount_detail) }}
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-danger text-md">
                        {{ trans('sales_order.label.use_point') }}
                    </p>
                    <div class="d-flex flex-column text-right">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="checkbox" name="use_point" v-model="use_point_member" @change="change_use_point">
                                </span>
                            </div>
                            <input id="inp-point-member" type="number" v-bind:disabled="use_point_member == 0" v-model="point_member" name="point_member" class="form-control text-right">
                        </div>
                    </div>
                </div>
                <div v-show="use_point_member == 1" class="d-flex-not-important justify-content-between align-items-center mb-3">
                    <p class="text-danger text-md">
                        {{ trans('sales_order.label.pay_point') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <span class="font-weight-bold">
                            <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(discount_point_member) }}
                        </span>
                    </p>
                </div>
                 -->
                <div class="d-flex justify-content-between align-items-center border-top mb-1" v-if="has_permission('transaction.sales.order.discount.sales')">
                    <p class="text-danger text-md">
                        {{ trans('sales_order.label.discount_sales') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <input type="text" v-model="discount_sales" name="discount_sales" @keyup="calculateReturnMoney" class="form-control text-right">
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-secondary text-md">
                        {{ trans('sales_order.label.shipping_cost') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <input type="text" v-model="shipping_cost" name="shipping_cost" @keyup="calculateReturnMoney" class="form-control text-right">
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-secondary text-md">
                        {{ trans('sales_order.label.additional_cost') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <input type="text" v-model="additional_cost" name="additional_cost" @keyup="calculateReturnMoney" class="form-control text-right">
                    </p>
                </div>
                <!-- 
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-secondary text-md">
                        {{ trans('sales_order.label.tax_bank') }}
                    </p>
                    <div class="d-flex flex-column text-right col-6">
                        <div class="input-group">
                            <div class="input-group-prepend col-5">
								<input type="number" v-model="tax_bank" name="tax_bank" class="form-control text-right" step="any" >
								<span class="text-lg">%</span>
                            </div>
							<span class="font-weight-bold col-7"><i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(tax_bank_price) }}
                        	</span>
                            <input type="hidden" v-model="tax_bank_price" name="tax_bank_price">
                        </div>
                    </div>
                </div>
                 -->
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ trans('sales_order.label.list_product') }}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <ul v-for="(s_product, i_select) in selected_products" :key="i_select" 
                    class="products-list product-list-in-card pl-2 pr-2">
                    <li class="item">
                        <div class="product-img">
                            <img v-bind:src="s_product.image" alt="Product Image" class="img-size-50" @error="imgError">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="javascript:void(0)" class="product-title">
                                        {{ s_product.name }}

                                        <!-- <button type="button" class="btn btn-xs btn-danger float-right" v-on:click="remove_selected(s_product)">
                                            <i class="fas fa-times"></i>
                                        </button> -->
                                    </a>
                                    <span class="product-description pr-2 mt-1 text-xs">
                                        {{ s_product.category }} | {{ s_product.brand }}
                                    </span>
                                    <span class="product-description text-xs" v-if="s_product.identity !== undefined">
                                        {{ s_product.identity }}
                                    </span>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group" style="margin: auto;">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <button v-on:click="minus(s_product)" type="button" class="btn btn-xs btn-danger pl-1 pr-1">-</button>
                                            </div>
                                            <input type="number" v-bind:name="'products[' + i_select + '][qty]'" class="form-control text-center" @keyup="changeQty(s_product, $event)" :value="s_product.qty" />
                                            <div class="input-group-prepend">
                                                <button v-on:click="add(s_product)" type="button" class="btn btn-xs btn-success pl-1 pr-1">+</button>
                                            </div>
                                            <div class="">
                                                <button v-on:click="remove_selected(s_product)" type="button" class="btn btn-xs btn-danger ml-1">x</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 text-right">
                                    <div class="form-group">
                                        <span class="badge badge-success">{{ s_product.total_amount_format }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <input type="hidden" v-bind:name="'products[' + i_select + '][detail_id]'" class="form-control text-center" v-bind:value="s_product.detail_id">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][total_amount]'" class="form-control text-center" v-bind:value="s_product.total_amount">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][product_id]'" class="form-control text-center" v-bind:value="s_product.product_id">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][sell_price]'" class="form-control text-center" v-bind:value="s_product.sell_price">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][general_sell_price]'" class="form-control text-center" v-bind:value="s_product.general_sell_price">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][reseller1_sell_price]'" class="form-control text-center" v-bind:value="s_product.reseller1_sell_price">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][reseller2_sell_price]'" class="form-control text-center" v-bind:value="s_product.reseller2_sell_price">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][discount_promo]'" class="form-control text-center" v-bind:value="s_product.discount_promo">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][promo_id]'" class="form-control text-center" v-bind:value="s_product.promo_id">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][cost_of_goods]'" class="form-control text-center" v-bind:value="s_product.cost_of_goods">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][image]'" class="form-control text-center" v-bind:value="s_product.image">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][brand]'" class="form-control text-center" v-bind:value="s_product.brand">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][category]'" class="form-control text-center" v-bind:value="s_product.category">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][name]'" class="form-control text-center" v-bind:value="s_product.name">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][purchase_price]'" class="form-control text-center" v-bind:value="s_product.purchase_price">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][identifier]'" class="form-control text-center" v-bind:value="s_product.identifier">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][product_identity_id]'" class="form-control text-center" v-bind:value="s_product.id">
                        <input type="hidden" v-bind:name="'products[' + i_select + '][id]'" class="form-control text-center" v-bind:value="s_product.id">
                    </li>
                </ul>
            </div>
            <!-- /.card-body -->
            
            <div class="card-footer text-center">
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-success text-md">
                        {{ trans('sales_order.label.subtotal') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <span class="font-weight-bold">
                            <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(total_first_so) }}
                        </span>
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-success text-md">
                        {{ trans('sales_order.label.total') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <span class="font-weight-bold">
                            <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(total_so) }}
                        </span>
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-danger text-md">
                        {{ trans('sales_order.label.pay') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <input type="text" v-model="down_payment" name="down_payment" @keyup="calculateReturnMoney" class="form-control text-right">
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center border-top mb-1">
                    <p class="text-md">
                        {{ trans('sales_order.label.return_money') }}
                    </p>
                    <p class="d-flex flex-column text-right">
                        <span class="font-weight-bold">
                            <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(return_money) }}
                        </span>
                    </p>
                </div>
            </div>
            <!-- /.card-footer -->
        </div>
    </div>
</div>
</template>
<script>
import axios from 'axios';

export default {   
    props: {
        update: Number,
        categories: Array,
        branchs: Array,
        brands: Array,
        input_products: Array,
        input_branch_id: String | Number,
        input_is_employee: String | Number,
        input_down_payment: String | Number,
        input_discount_sales: String | Number,
        input_shipping_cost: String | Number,
        input_additional_cost: String | Number,
        input_tax_bank: String | Number,
        input_is_ppn: String | Number,
        input_use_point: String | Number,
        members: Array,
        convertion_point_rupiah: String | Number,
        convertion_rupiah_point: String | Number,
        input_point_member: String | Number,
        input_name: String,
        input_phone: String,
        input_address: String,
        input_member_id: String | Number,
    },     
    data() {
        return {
            paginate_products: [],
            products: [],
            selected_products: [],
            search_branch_id: 0,
            search: {
                category_id: 0,
                branch_id: 0,
                brand_id: 0,
                query: '',
            },
            total_first_so: 0,
            total_so: 0,
            return_money: 0,
            down_payment: 0,
            shipping_cost: 0,
            additional_cost: 0,
            tax_bank: 0,
            tax_bank_price: 0,
            discount_sales: 0,
            total_discount_detail: 0,
            discount_point_member: 0,
            point_member: 0,
            use_point_member: 0,
            is_ppn: 0,
            member: {
                id: null,
                name: null,
                phone: null,
                address: null,
                poin: null,
            }
        }
    },
    watch: {
        'discount_sales': function(val, oldVal) {
            this.discount_sales = this.number(val).format();
        },
        'additional_cost': function(val, oldVal) {
            this.additional_cost = this.number(val).format();
        },
        'tax_bank': function(val, oldVal) {
			if (val != oldVal) {
				this.total_so = this.total_so - this.tax_bank_price;
			}
			this.tax_bank_price = this.total_so * (this.tax_bank / 100);
			this.total_so = this.total_so + this.tax_bank_price;
            // this.tax_bank = this.number(val).format();
        },
        'shipping_cost': function(val, oldVal) {
            this.shipping_cost = this.number(val).format();
        },
        'down_payment': function(val, oldVal) {
            this.down_payment = this.number(val).format();
        },
        'discount_point_member': function(val, oldVal) {
            this.discount_point_member = this.number(val).format();
        },
        'search_branch_id': function(val, oldVal) {
            var self = this;
			if (this.update == 0 && this.selected_products.length > 0 && val != oldVal) {
				const swal_confirm = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success ml-1',
						cancelButton: 'btn btn-danger mr-1'
					},
					buttonsStyling: false
				})

				swal_confirm.fire({
					title: self.trans('sales_order.message.sure'),
					text: self.trans('sales_order.message.change_branch'),
					type: 'warning',      
					showCancelButton: true,
					confirmButtonText: 'Yes',
					cancelButtonText: 'No',
					reverseButtons: true,
					showLoaderOnConfirm: true,
				}).then((result) => {
					if (result.value) {
                        self.search.branch_id = self.search_branch_id;
						self.selected_products = [];
						self.calculateTotalAll();
						self.calculateReturnMoney();
                        self.search_product();
					}
				})
			} else {
                self.search.branch_id = self.search_branch_id;
                self.search_product();
			}
        },
        'point_member': function(val, oldVal) {
            if (val > this.member.poin) {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: this.trans('sales_order.message.point_not_enough')
                })

                this.point_member = this.member.poin;
            } else if(val < 0) {
                this.point_member = 0;
            } else {
                this.discount_point_member = val * this.convertion_point_rupiah;
                this.calculateReturnMoney();
            }
        }
    },
    mounted() {
        var self = this;
        this.$refs.keyword.focus();
        this.search_branch_id = this.input_branch_id;

        this.search_product();
        this.selected_products = this.input_products;
        
        this.selected_products.forEach(function(v) {
            v.total_amount_format = self.number(v.total_amount).format();
        });
        
        this.down_payment = this.input_down_payment.format();
        this.discount_sales = this.input_discount_sales.format();
        this.shipping_cost = this.input_shipping_cost.format();
        this.additional_cost = this.input_additional_cost.format();
        this.tax_bank = this.input_tax_bank;
        this.is_ppn = this.input_is_ppn;
        
        this.use_point_member = this.input_use_point;
        this.point_member = this.input_point_member;

        this.calculateTotalAll();
        this.calculateReturnMoney();

        // find member
        this.member.id = this.input_member_id ? this.input_member_id : null;
        this.member.name = this.input_name ? this.input_name : null;
        this.member.phone = this.input_phone ? this.input_phone : null;
        this.member.address = this.input_address ? this.input_address : null;
    },
    methods: {
        change_member() {
            var self = this;
            var member_id = this.member.id;
            
            var member = this.members.find(item => {
                return item.id == member_id;
            });
            
            if(member != undefined) {
                this.member.name = member.name;
                this.member.phone = member.phone;
                this.member.address = member.address;
                this.member.poin = member.poin;

                if (this.update) {
                    if (this.use_point_member == 1) {
                        this.member.poin += this.point_member;
                    } else {
                        // divide point for edit so with not use poin before
                        this.member.poin -= Math.floor(this.number(this.total_so) / this.number(this.convertion_rupiah_point));
                    }
                }
            }

            this.selected_products.forEach(function(item, index){
                if (member != undefined) {
                    if (member.type == 2) { // resseller 1
                        item.sell_price = item.reseller1_sell_price;
                        console.log(item.sell_price);
                        item.sell_price = item.sell_price > 0 ? item.sell_price : item.general_sell_price;
                        console.log(item.sell_price);
                    } else if (member.type == 3) { // resseller 2
                        item.sell_price = item.reseller2_sell_price;
                        item.sell_price = item.sell_price > 0 ? item.sell_price : item.reseller1_sell_price;
                        item.sell_price = item.sell_price > 0 ? item.sell_price : item.general_sell_price;
                    } else { // general
                        item.sell_price = item.general_sell_price;
                    }
                } else {
                    item.sell_price = item.general_sell_price;
                }

                self.calculateTotal(item);
            });

            this.search_product();
        },
		change_branch(e) {
			
		},
        change_use_point() {
            if (this.use_point_member == 1) {
                if (this.member.id != null && this.member.id != undefined && this.member.id != "" && this.member.id != null && this.member.id != 0) {
                    this.use_point_member = 1;
                    
                    if (this.member.poin <= 0) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: this.trans('sales_order.message.point_not_enough')
                        })
                        this.use_point_member = 0;
                    } else {
                        this.point_member = this.member.poin;
                    }
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: this.trans('sales_order.message.member_only')
                    })

                    this.use_point_member = 0;
                }
            } else {
                this.point_member = 0;
            }
        },
        search_by_query(e) {
            this.search_product(e);
        },
        search_product(e) {
            var self = this;
            var param = `q=${encodeURI(this.search.query)}&bd=${this.search.brand_id}&c=${this.search.category_id}&bc=${this.search.branch_id}&op=4&stock=1&m=${this.member.id}`;

            axios.get(`${CONFIG.base_url}/ajax/list-product-identity?${param}`)
            .then(function (response) {
                self.paginate_products = response.data;
                self.products = response.data.data;

                if (e !== undefined && e.keyCode == 13 && self.products.length == 1) {
                    self.select_product(0);
                    self.search.query = "";
                }
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
            });
        },
        select_product(index) {
            var self = this;
            var products = JSON.parse(JSON.stringify(this.products));
            let s_product = products[index];
            
            var exists = this.selected_products.find(item => item.product_id == s_product.product_id && item.identity == s_product.identity);
            
            if (exists && exists.identifier !== 1 ) {
                var max_stock = s_product.stock;
                if(this.update) {
                    max_stock += exists.qty_ori;
                }
                
                if ((exists.qty+1) <= max_stock) {
                    exists.qty += 1;
                    this.calculateTotal(exists);
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: self.trans('sales_order.message.error_max_qty')
                    })
                }
            } else if(exists) {
                var max_stock = s_product.stock;
                
                if ((exists.qty+1) <= max_stock) {
                    exists.qty += 1;
                    this.calculateTotal(exists);
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: self.trans('sales_order.message.error_buy_qty')
                    })
                }
            } else {
                s_product.total_amount_format = 0;
                s_product.qty = 1;
                this.selected_products.push(s_product);

                this.calculateTotal(s_product);
            }
        },
        add(s_product) {
            var self = this;
            
            if (s_product.identifier == 1 && s_product.qty >= 1) {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: self.trans('sales_order.message.error_buy_qty')
                })
            } else {
                var products = JSON.parse(JSON.stringify(this.products));
                var product = products.find(item => item.product_id == s_product.product_id && item.identity == s_product.identity);
                
                var max_stock = product.stock;
                if(this.update) {
                    max_stock += s_product.qty_ori;
                }
            
                if ((s_product.qty+1) <= max_stock) {
                    let qty = s_product.qty == undefined ? 0 : s_product.qty;;
                    qty++;
                    s_product.qty = qty;

                    this.calculateTotal(s_product);
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: self.trans('sales_order.message.error_max_qty')
                    })
                }
            }
        },
        changeQty(s_product, event) {
            var self = this;
            
            if (s_product.identifier == 1 && s_product.qty >= 1) {
                event.target.value = s_product.qty
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: self.trans('sales_order.message.error_buy_qty')
                })
            } else {
                var products = JSON.parse(JSON.stringify(this.products));
                var product = products.find(item => item.product_id == s_product.product_id && item.identity == s_product.identity);
                
                var max_stock = product.stock;
                if(this.update) {
                    max_stock += s_product.qty_ori;
                }
            
                if (s_product.qty <= max_stock) {
                    s_product.qty = event.target.value
                    this.calculateTotal(s_product);
                } else {
                    event.target.value = s_product.qty
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: self.trans('sales_order.message.error_max_qty')
                    })
                }
            }
        },
        minus(s_product) {
            var product = s_product;
            let qty = product.qty == undefined ? 0 : product.qty;;
            qty--;
            product.qty = qty < 0 ? 0 : qty;

            if (qty <= 0) {
                this.remove_selected(s_product);
            }

            this.calculateTotal(s_product);
        },
        formatPrice(value) {
            value = value != undefined ? value : 0;
            return typeof value == 'string' ? value.parseFloatId().format() : value.format();
        },
        calculateTotal(s_product) {
            var sell_price = s_product.sell_price;
            var qty = typeof s_product.qty == 'string' ? s_product.qty.parseFloatId() : s_product.qty;
            var total_amount = sell_price * qty;
            s_product.total_amount = total_amount;
            s_product.total_amount_format = total_amount.format();
            var discount = this.number(s_product.discount);
            s_product.discount_promo = (discount * qty).format();

            this.calculateTotalAll();
            this.calculateReturnMoney();
        },
        calculateTotalAll() {
            var self = this;
            var total = 0;
            var total_discount = 0;
            this.selected_products.forEach(function(v) {
                total += self.number(v.total_amount);
                total_discount += self.number(v.discount_promo);
            });
            this.total_first_so = total;
            this.total_discount_detail = total_discount;
        },
        calculateReturnMoney() {
            this.total_so = this.number(this.total_first_so) + this.number(this.shipping_cost) + this.number(this.additional_cost) - this.number(this.discount_sales) - this.number(this.total_discount_detail) - this.number(this.discount_point_member) + this.number(this.tax_bank_price);

            this.return_money = this.number(this.down_payment) - this.total_so;
        },
        remove_selected(s_product)
        {
            var self = this;
            const swal_confirm = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ml-1',
                    cancelButton: 'btn btn-danger mr-1'
                },
                buttonsStyling: false
            })

            swal_confirm.fire({
                title: self.trans('global.delete'),
                text: self.trans('sales_order.message.description_delete'),
                type: 'warning',      
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true,
                showLoaderOnConfirm: true,
            }).then((result) => {
                if (result.value) {
                    var index = this.selected_products.indexOf(s_product);
                    if (index > -1) {
                        this.selected_products.splice(index, 1);
                    }

                    self.calculateTotalAll();
                    self.calculateReturnMoney();
                }
            })
        },
        checkDuplicateIdentity(s_product) {
            var self = this;
            var index = this.selected_products.indexOf(s_product);
            var el = document.getElementsByName("products["+index+"][identity]")[0];

            if (s_product.identity == undefined) {
                Toast.fire({
                    type: 'error',
                    title: self.trans('sales_order.message.error_required_identity')
                })
                el.focus();
            } else {
                var exists = this.selected_products.filter(function (p, i) {
                    return index != i && s_product.product_id == p.product_id && s_product.identity == p.identity;
                });

                if (exists.length >= 1) {
                    Toast.fire({
                        type: 'error',
                        title: self.trans('sales_order.message.error_duplicate_identity')
                    })

                    s_product.identity = "";
                    el.focus();
                }
            }
        },
        imgError(e) {
            e.target.src = `${CONFIG.base_url}/img/default-image.jpg`;
        },
        number(value) {
			if (value == '' || value == undefined || value == null) {
				value = 0;
			}
			var number = JSON.parse(JSON.stringify(value));
            return typeof number == 'string' ? number.parseFloatId() : number;
        }
    }
}
</script>