<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <label>{{ trans('purchase_order.title') }}</label>
                            <select2 @change="select_po" :options="po_list" v-model="search.purchase_order_id">
                                <option value="0" disabled></option>
                            </select2>
                        </div>
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <label>{{ trans('global.keyword') }}</label>
                            <div class="input-group input-group-md">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" @keyup="search_by_query" v-model="search.query" :readonly="search.purchase_order_id == 0">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-1 m-1">
                    <ul class="users-list clearfix">
                        <li v-for="(product, index) in products" :key="product.product_id">
                            <a class="pointer" v-on:click="select_product(index)">
                                <img class="not_rounded" v-bind:src="product.image" v-bind:alt="product.name">
                                <span class="users-list-name">{{ product.name }}</span>
                                <span class="users-list-name">{{ product.category }}</span>
                                <span class="users-list-date">{{ formatPrice(product.purchase_price) }}</span>
                                <span class="users-list-date">{{ formatPrice(product.qty) }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ trans('purchase_order.label.list_product') }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <ul v-for="(s_product, i_select) in selected_products" :key="i_select" 
                        class="products-list product-list-in-card pl-2 pr-2">
                        <li class="item">
                            <div class="product-img">
                                <img v-bind:src="s_product.image" alt="Product Image" class="img-size-50">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">
                                    {{ s_product.name }}

                                    <button type="button" class="btn btn-xs btn-danger float-right" v-on:click="remove_selected(s_product)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </a>
                                <span class="product-description pr-2 mt-3">
                                    {{ s_product.category }} | {{ s_product.brand }}

                                    <span class="badge badge-warning float-right">{{ formatPrice(s_product.sell_price) }}</span>
                                </span>
                            </div>
                            <div class="row product-info">
                                <div class="form-group col-sm-12">
                                    <label v-show="s_product.identifier != 0">{{ s_product.identity }}</label>
                                    <input type="hidden" v-bind:name="'products[' + i_select + '][identity]'" v-model="s_product.identity">
                                </div>
                            </div>
                            <div class="row product-info">
                                <div class="form-group col-sm-4">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button v-on:click="minus(s_product)" type="button" class="btn btn-sm btn-danger">-</button>
                                        </div>
                                        <input type="number" v-bind:name="'products[' + i_select + '][qty]'" class="form-control text-center" @keyup="changeQty(s_product, $event)" :value="s_product.qty">
                                        <div class="input-group-prepend">
                                            <button v-on:click="add(s_product)" type="button" class="btn btn-sm btn-success">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>{{ formatPrice(s_product.purchase_price) }}</label>
                                    <input type="hidden" v-bind:name="'products[' + i_select + '][purchase_price_format]'" v-model="s_product.purchase_price">
                                </div>
                                <div class="form-group col-sm-4">
                                    <span class="badge badge-success float-right">{{ formatPrice(s_product.total_amount) }}</span>
                                </div>
                                <input type="hidden" v-bind:name="'products[' + i_select + '][detail_id]'" class="form-control text-center" v-bind:value="s_product.detail_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][total_amount]'" class="form-control text-center" v-bind:value="s_product.total_amount">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][product_id]'" class="form-control text-center" v-bind:value="s_product.product_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][sell_price]'" class="form-control text-center" v-bind:value="s_product.sell_price">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][cost_of_goods]'" class="form-control text-center" v-bind:value="s_product.cost_of_goods">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][image]'" class="form-control text-center" v-bind:value="s_product.image">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][brand]'" class="form-control text-center" v-bind:value="s_product.brand">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][category]'" class="form-control text-center" v-bind:value="s_product.category">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][name]'" class="form-control text-center" v-bind:value="s_product.name">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][purchase_price]'" class="form-control text-center" v-bind:value="s_product.purchase_price">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][identifier]'" class="form-control text-center" v-bind:value="s_product.identifier">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][product_identity_id]'" class="form-control text-center" v-bind:value="s_product.product_identity_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][purchase_order_detail_id]'" class="form-control text-center" v-bind:value="s_product.purchase_order_detail_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][qty_ori]'" class="form-control text-center" v-bind:value="s_product.qty_ori">
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                        <p class="text-success text-lg">
                            {{ trans('purchase_order.label.total') }}
                        </p>
                        <p class="d-flex flex-column text-right">
                            <span class="font-weight-bold">
                                <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(total_po) }}
                            </span>
                        </p>
                    </div>
                </div>
                <!-- /.card-footer -->
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';

export default {   
    props: {
        update: Number,
        purchase_orders_list: Array,
        purchase_orders: Object,
        input_products: Array,
        input_purchase_order_id: String | Number
    },     
    data() {
        return {
            products_all: [],
            products: [],
            selected_po_id: null,
            selected_products: [],
            search: {
                purchase_order_id: 0,
                query: '',
            },
            total_po: 0,
            return_money: 0,
            down_payment: 0,
            po_list: [],
        }
    },
    mounted() {
        this.po_list = this.purchase_orders_list;
        this.search.purchase_order_id = this.input_purchase_order_id;
        
        this.search_product();
        this.selected_products = this.input_products;

        this.calculateTotalAll();
    },
    methods: {
        search_by_query(e) {
            this.search_product(e);
        },
        select_po(e) {
            var self = this;

            if (this.selected_products.length > 0 
                && this.selected_po_id != null 
                && this.selected_po_id != this.search.purchase_order_id) {
                Swal.fire({
                    title: this.trans('retur_purchase_order.message.change_so'),
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                }).then((result) => {
                    if (result.value) {
                        self.selected_products = [];
                        self.search_product(e);
                    } else {
                        self.search.purchase_order_id = self.selected_po_id;
                    }
                })
            } else {
                self.search_product(e);
            }
        },
        search_product(e) {
            var self = this;
            var purchase_order = this.purchase_orders[self.search.purchase_order_id];

            if (purchase_order != undefined) {
                var supplier = purchase_order.supplier;
                var branch = purchase_order.branch;
                var bank = purchase_order.bank;
                
                document.getElementById("supplier-id").value = supplier.id;
                document.getElementById("supplier-name").innerHTML = supplier.name;
                document.getElementById("branch-id").value = branch.id;
                document.getElementById("branch-name").innerHTML = branch.name;
                document.getElementById("bank-id").value = bank.id;
                document.getElementById("bank-name").innerHTML = bank.name;
                document.getElementById("purchase-order-id").value = purchase_order.id;
                document.getElementById("purchase-order-invoice").innerHTML = purchase_order.no_invoice;

                if (self.selected_po_id != purchase_order.id) {
                    self.selected_po_id = purchase_order.id;
                    axios.get(`${CONFIG.base_url}/ajax/list-product-po/${purchase_order.id}`)
                    .then(function (response) {
                        self.products = response.data;
                        self.products_all = self.products;
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .finally(function () {
                        // always executed
                    });
                } else {
                    self.products = self.products_all.filter(function(item) {
                        var res = false;
                        if (item.name.toLowerCase().search(self.search.query) >= 0) {
                            res = true;
                        }
                        
                        return res;
                    });
                }
            }
        },
        select_product(index) {
            var products = JSON.parse(JSON.stringify(this.products));
            let s_product = products[index];
            
            var exists = this.selected_products.find(item => item.product_id == s_product.product_id);
            if (exists !== undefined) {
                var max_qty = s_product.qty;
                if (this.update) {
                    max_qty += exists.qty_ori;
                }

                if ((exists.qty+1) > max_qty) {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: this.trans('retur_purchase_order.message.error_max_qty')
                    })
                } else {
                    exists.qty += 1;
                    this.calculateTotal(exists);
                }
            } else {
                this.selected_products.push(s_product);
                this.calculateTotal(s_product);
            }
        },
        add(s_product) {
            var self = this;

            var exists = this.products.find(item => item.product_id == s_product.product_id);
            if (exists !== undefined) {
                var max_qty = exists.qty;
                if (this.update) {
                    max_qty += s_product.qty_ori;
                }

                if ((s_product.qty+1) > max_qty) {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: this.trans('retur_purchase_order.message.error_max_qty')
                    })
                } else {
                    s_product.qty += 1;
                    this.calculateTotal(s_product);
                }
            }
        },
        changeQty(s_product, event) {
            var self = this;

            var exists = this.products.find(item => item.product_id == s_product.product_id);
            if (exists !== undefined) {
                var max_qty = exists.qty;
                if (this.update) {
                    max_qty += s_product.qty_ori;
                }

                if (s_product.qty > max_qty) {
                    event.target.value = s_product.qty
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: this.trans('retur_purchase_order.message.error_max_qty')
                    })
                } else {
                    s_product.qty = event.target.value
                    this.calculateTotal(s_product);
                }
            }
        },
        minus(s_product) {
            var product = s_product;
            let qty = product.qty == undefined ? 0 : product.qty;;
            qty--;
            product.qty = qty < 0 ? 0 : qty;

            if (qty <= 1) {
                this.remove_selected(s_product);
            }

            this.calculateTotal(s_product);
        },
        formatPrice(value) {
            return typeof value == 'string' ? value.parseFloatId().format() : value.format();
        },
        calculateTotal(s_product) {
            var purchase_price = s_product.purchase_price;
            var qty = typeof s_product.qty == 'string' ? s_product.qty.parseFloatId() : s_product.qty;
            var total_amount = purchase_price * qty;
            s_product.total_amount = total_amount;

            this.calculateTotalAll();
        },
        calculateTotalAll() {
            var total = 0;
            this.selected_products.forEach(function(v) {
                total += typeof v.total_amount == 'string' ? v.total_amount.parseFloatId() : v.total_amount;
            });
            this.total_po = total;
        },
        remove_selected(s_product)
        {
            var self = this;
            const swal_confirm = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ml-1',
                    cancelButton: 'btn btn-danger mr-1'
                },
                buttonsStyling: false
            })

            swal_confirm.fire({
                title: self.trans('global.delete'),
                text: self.trans('purchase_order.message.description_delete'),
                type: 'warning',      
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true,
                showLoaderOnConfirm: true,
            }).then((result) => {
                if (result.value) {
                    var index = this.selected_products.indexOf(s_product);
                    if (index > -1) {
                        this.selected_products.splice(index, 1);
                        this.calculateTotalAll();
                    }
                }
            })
        },
    }
}
</script>