<template>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <div class="form-group">
                                <label for="from_branch_id">{{ trans('mutation_product.label.from_branch_id') }}</label>
                                <select2 name="from_branch_id" @change="search_product" :options="branchs" v-model="from_branch_id" :option_disabled="update==1">
                                    <option value="0" disabled></option>
                                </select2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <div class="form-group">
                                <label for="to_branch_id">{{ trans('mutation_product.label.to_branch_id') }}</label>
                                <select2 name="to_branch_id" :options="branchs" v-model="to_branch_id" :option_disabled="update==1">
                                    <option value="0" disabled></option>
                                </select2>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <label for="category_id">{{ trans('product.label.category_id') }}</label>
                            <select2 @change="search_product" :options="categories" v-model="search.category_id">
                                <option value="0">{{ trans('global.all') }}</option>
                            </select2>
                        </div>
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <div class="form-group">
                                <label for="keyword">{{ trans('global.keyword') }}</label>
                                <input type="text" name="table_search" class="form-control" placeholder="Search" @keyup="search_by_query"  v-model="search.query">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-1 m-1">
                    <table class="table table-striped table-valign-middle table-hover">
                        <tbody>
                            <tr v-for="(product, index) in products" :key="product.id" class="pointer" v-on:click="select_product(index)">
                                <td class="img-size-32 text-center">
                                    <img v-bind:src="product.image" v-bind:alt="product.name" @error="imgError" class="not_rounded img-size-32 mr-2">
                                </td>
                                <td>
                                    {{ product.name }}
                                    <span class="users-list-date">
                                        <small>{{product.identity}}</small>
                                    </span>
                                </td>
                                <td>
                                    <s v-if="product.discount > 0">{{ formatPrice(product.sell_price) }}</s>
                                    {{ formatPrice(product.sell_price - product.discount) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <ul class="users-list clearfix">
                        <li v-for="(product, index) in products" :key="product.id">
                            <a class="pointer" v-on:click="select_product(index)">
                                <img class="not_rounded" v-bind:src="product.image" v-bind:alt="product.name" @error="imgError">
                                <span class="users-list-name">{{ product.name }}</span>
                                <span class="users-list-date" v-if="product.identity !== ''">
                                    {{product.identity}}
                                </span>
                                <span class="users-list-date">
                                    {{ formatPrice(product.sell_price) }}
                                </span>
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="card">
                <div class="card-body p-0">
                    <ul v-for="(s_product, i_select) in selected_products" :key="i_select" 
                        class="products-list product-list-in-card pl-2 pr-2">
                        <li class="item">
                            <div class="product-img">
                                <img v-bind:src="s_product.image" alt="Product Image" class="img-size-50" @error="imgError">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">
                                    {{ s_product.name }}

                                    <button type="button" class="btn btn-xs btn-danger float-right" v-on:click="remove_selected(s_product)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </a>
                                <span class="product-description pr-2 mt-1">
                                    {{ s_product.category }} | {{ s_product.brand }}
                                </span>
                            </div>
                            <div class="product-info" v-if="s_product.identity !== undefined">
                                <span class="product-description">
                                    {{ s_product.identity }}
                                </span>
                            </div>
                            <div class="row product-info">
                                <div class="form-group col-sm-4" style="margin: auto;">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button v-on:click="minus(s_product)" type="button" class="btn btn-sm btn-danger">-</button>
                                        </div>
                                        <input type="number" v-bind:name="'products[' + i_select + '][qty]'" class="form-control text-center" @keyup="calculateTotal(s_product)" v-model="s_product.qty">
                                        <div class="input-group-prepend">
                                            <button v-on:click="add(s_product)" type="button" class="btn btn-sm btn-success">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4" style="margin: auto;">
                                    <span class="badge badge-warning float-right">
                                        {{ formatPrice(s_product.sell_price) }}
                                    </span>
                                </div>
                                <div class="form-group col-sm-4" style="margin: auto;">
                                    <span class="badge badge-success float-right">{{ formatPrice(s_product.total_amount) }}</span>
                                </div>
                                <input type="hidden" v-bind:name="'products[' + i_select + '][detail_id]'" class="form-control text-center" v-bind:value="s_product.detail_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][total_amount]'" class="form-control text-center" v-bind:value="s_product.total_amount">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][product_id]'" class="form-control text-center" v-bind:value="s_product.product_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][cost_of_goods]'" class="form-control text-center" v-bind:value="s_product.cost_of_goods">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][sell_price]'" class="form-control text-center" v-bind:value="s_product.sell_price">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][image]'" class="form-control text-center" v-bind:value="s_product.image">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][brand]'" class="form-control text-center" v-bind:value="s_product.brand">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][category]'" class="form-control text-center" v-bind:value="s_product.category">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][name]'" class="form-control text-center" v-bind:value="s_product.name">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][identifier]'" class="form-control text-center" v-bind:value="s_product.identifier"><input type="hidden" v-bind:name="'products[' + i_select + '][identity]'" class="form-control text-center" v-bind:value="s_product.identity">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][product_identity_id]'" class="form-control text-center" v-bind:value="s_product.product_identity_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][to_product_identity_id]'" class="form-control text-center" v-bind:value="s_product.to_product_identity_id">
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->

                <div class="card-footer text-center">
                    <div class="d-flex justify-content-between align-items-center border-top mb-3">
                        <p class="text-success text-lg">
                            {{ trans('mutation_product.label.total') }}
                        </p>
                        <p class="d-flex flex-column text-right">
                            <span class="font-weight-bold">
                                <i class="ion ion-android-arrow-up text-success"></i> {{ formatPrice(total_mutation) }}
                            </span>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center border-top mb-3">
                        <p class="text-secondary text-lg">
                            {{ trans('mutation_product.label.shipping_cost') }}
                        </p>
                        <p class="d-flex flex-column text-right">
                            <input type="text" v-model="shipping_cost" name="shipping_cost" class="form-control text-right">
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center border-top mb-3">
                        <p class="text-secondary text-lg">
                            {{ trans('mutation_product.label.additional_cost') }}
                        </p>
                        <p class="d-flex flex-column text-right">
                            <input type="text" v-model="additional_cost" name="additional_cost" class="form-control text-right">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import axios from 'axios';

export default {   
    props: {
        update: Number,
        categories: Array,
        branchs: Array,
        input_products: Array,
        input_shipping_cost: String | Number,
        input_additional_cost: String | Number,
        input_from_branch_id: String | Number,
        input_to_branch_id: String | Number,
    },     
    data() {
        return {
            paginate_products: [],
            products: [],
            selected_products: [],
            search: {
                category_id: 0,
                brand_id: 0,
                query: '',
            },
            from_branch_id: 0,
            to_branch_id: 0,
            total_mutation: 0,
            shipping_cost: 0,
            additional_cost: 0,
        }
    },
    watch: {
        'additional_cost': function(val, oldVal) {
            this.additional_cost = this.number(val).format();
        },
        'shipping_cost': function(val, oldVal) {
            this.shipping_cost = this.number(val).format();
        },
        'from_branch_id': function(val, oldVal) {
            if (this.from_branch_id == this.to_branch_id) {
                this.to_branch_id = oldVal;
            }
            
            if (val != oldVal && this.selected_products.length > 0 && this.update == 0) {
                var self = this;
                const swal_confirm = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success ml-1',
                        cancelButton: 'btn btn-danger mr-1'
                    },
                    buttonsStyling: false
                })

                swal_confirm.fire({
                    title: self.trans('mutation_product.message.sure'),
                    text: self.trans('mutation_product.message.change_branch'),
                    type: 'warning',      
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                    reverseButtons: true,
                    showLoaderOnConfirm: true,
                }).then((result) => {
                    if (result.value) {
                        self.selected_products = [];
                        self.calculateTotalAll();
                    }
                })
            }
        },
        'to_branch_id': function(val, oldVal) {
            if (this.to_branch_id == this.from_branch_id) {
                Swal.fire({
                    type: 'warning',
                    title: 'Oops...',
                    text: self.trans('mutation_product.message.same_branch')
                })

                this.to_branch_id = oldVal;
            }
        },
    },
    mounted() {
        this.from_branch_id = this.input_from_branch_id;
        this.to_branch_id = this.input_to_branch_id;

        this.search_product();
        this.selected_products = this.input_products;
        
        this.shipping_cost = this.input_shipping_cost.format();
        this.additional_cost = this.input_additional_cost.format();
        this.calculateTotalAll();
    },
    methods: {
        search_by_query(e) {
            // if (this.search.query.length > 3) {
                this.search_product(e);
            // }
        },
        search_product(e) {
            var self = this;
            var param = `q=${encodeURI(this.search.query)}&bd=${this.search.brand_id}&c=${this.search.category_id}&bc=${this.from_branch_id}&op=4&stock=1`;

            axios.get(`${CONFIG.base_url}/ajax/list-product-identity?${param}`)
            .then(function (response) {
                self.paginate_products = response.data;
                self.products = response.data.data;
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
            });
        },
        select_product(index) {
            var self = this;
            var products = JSON.parse(JSON.stringify(this.products));
            let s_product = products[index];
            
            var exists = this.selected_products.find(item => item.product_id == s_product.product_id && item.identity == s_product.identity);
            
            if (exists && exists.identifier !== 1 ) {
                var max_stock = s_product.stock;
                if(this.update) {
                    max_stock += exists.qty_ori;
                }
                
                if ((exists.qty+1) <= max_stock) {
                    exists.qty += 1;
                    this.calculateTotal(exists);
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: self.trans('mutation_product.message.error_max_qty')
                    })
                }
            } else if(exists) {
                var max_stock = s_product.stock;
                
                if ((exists.qty+1) <= max_stock) {
                    exists.qty += 1;
                    this.calculateTotal(exists);
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: self.trans('mutation_product.message.error_buy_qty')
                    })
                }
            } else {
                s_product.qty = 1;
                this.selected_products.push(s_product);

                this.calculateTotal(s_product);
            }
        },
        add(s_product) {
            var self = this;
            
            if (s_product.identifier == 1 && s_product.qty >= 1) {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: self.trans('mutation_product.message.error_buy_qty')
                })
            } else {
                var products = JSON.parse(JSON.stringify(this.products));
                var product = products.find(item => item.product_id == s_product.product_id && item.identity == s_product.identity);
                
                var max_stock = product.stock;
                if(this.update) {
                    max_stock += s_product.qty_ori;
                }
            
                if ((s_product.qty+1) <= max_stock) {
                    let qty = s_product.qty == undefined ? 0 : s_product.qty;;
                    qty++;
                    s_product.qty = qty;

                    this.calculateTotal(s_product);
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: self.trans('mutation_product.message.error_max_qty')
                    })
                }
            }
        },
        minus(s_product) {
            var product = s_product;
            let qty = product.qty == undefined ? 0 : product.qty;;
            qty--;
            product.qty = qty < 0 ? 0 : qty;

            if (qty <= 0) {
                this.remove_selected(s_product);
            }

            this.calculateTotal(s_product);
        },
        formatPrice(value) {
            value = value != undefined ? value : 0;
            return typeof value == 'string' ? value.parseFloatId().format() : value.format();
        },
        calculateTotal(s_product) {
            var sell_price = s_product.sell_price;
            var qty = typeof s_product.qty == 'string' ? s_product.qty.parseFloatId() : s_product.qty;
            var total_amount = sell_price * qty;
            s_product.total_amount = total_amount;

            this.calculateTotalAll();
        },
        calculateTotalAll() {
            var self = this;
            var total = 0;
            this.selected_products.forEach(function(v) {
                total += self.number(v.total_amount);
            });
            this.total_mutation = total;
        },
        remove_selected(s_product)
        {
            var self = this;
            const swal_confirm = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ml-1',
                    cancelButton: 'btn btn-danger mr-1'
                },
                buttonsStyling: false
            })

            swal_confirm.fire({
                title: self.trans('global.delete'),
                text: self.trans('mutation_product.message.description_delete'),
                type: 'warning',      
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true,
                showLoaderOnConfirm: true,
            }).then((result) => {
                if (result.value) {
                    var index = this.selected_products.indexOf(s_product);
                    if (index > -1) {
                        this.selected_products.splice(index, 1);
                    }

                    self.calculateTotalAll();
                }
            })
        },
        imgError(e) {
            e.target.src = `${CONFIG.base_url}/img/default-image.jpg`;
        },
        number(value) {
            var number = JSON.parse(JSON.stringify(value));
            return typeof number == 'string' ? number.parseFloatId() : number;
        }
    }
}
</script>