<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <select2 @change="search_product" :options="brands" v-model="search.brand_id">
                                <option value="0">{{ trans('global.all') }}</option>
                            </select2>
                        </div>
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <select2 @change="search_product" :options="categories" v-model="search.category_id">
                                <option value="0">{{ trans('global.all') }}</option>
                            </select2>
                        </div>
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <div class="input-group input-group-md">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" @keyup="search_by_query"  v-model="search.query">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-1 m-1">
                    <ul class="users-list clearfix">
                        <li v-for="(product, index) in products" :key="product.product_id">
                            <a class="pointer" v-on:click="select_product(index)">
                                <img class="not_rounded" v-bind:src="product.image" v-bind:alt="product.name">
                                <span class="users-list-name">{{ product.name }}</span>
                                <span class="users-list-date">{{ formatPrice(product.sell_price) }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ trans('purchase_order.label.list_product') }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <ul v-for="(s_product, i_select) in selected_products" :key="i_select" 
                        class="products-list product-list-in-card pl-2 pr-2">
                        <li class="item">
                            <div class="product-img">
                                <img v-bind:src="s_product.image" alt="Product Image" class="img-size-50">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">
                                    {{ s_product.name }}

                                    <button type="button" class="btn btn-xs btn-danger float-right" v-on:click="remove_selected(s_product)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </a>
                                <span class="product-description pr-2 mt-3">
                                    {{ s_product.category }} | {{ s_product.brand }}

                                    <span class="badge badge-warning float-right">{{ formatPrice(s_product.sell_price) }}</span>
                                </span>
                            </div>

                            <div class="row product-info">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][product_id]'" class="form-control text-center" v-bind:value="s_product.product_id">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][sell_price]'" class="form-control text-center" v-bind:value="s_product.sell_price">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][image]'" class="form-control text-center" v-bind:value="s_product.image">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][brand]'" class="form-control text-center" v-bind:value="s_product.brand">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][category]'" class="form-control text-center" v-bind:value="s_product.category">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][sell_price]'" class="form-control text-center" v-bind:value="s_product.sell_price">
                                <input type="hidden" v-bind:name="'products[' + i_select + '][name]'" class="form-control text-center" v-bind:value="s_product.name">
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';

export default {   
    props: {
        categories: Array,
        brands: Array,
        input_products: Array
    },     
    data() {
        return {
            products: [],
            selected_products: [],
            search: {
                category_id: 0,
                brand_id: 0,
                query: '',
            }
        }
    },
    mounted() {
        this.search_product();
        this.selected_products = this.input_products;
    },
    methods: {
        search_by_query(e) {
            if (this.search.query.length > 3) {
                this.search_product(e);
            }
        },
        search_product(e) {
            var self = this;
            var param = "q=" + encodeURI(this.search.query) + "&bd=" + this.search.brand_id + "&c=" + this.search.category_id;

            axios.get(CONFIG.base_url + '/ajax/list-product?' + param)
            .then(function (response) {
                self.products = response.data.data;
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
            });
        },
        select_product(index) {
            var products = JSON.parse(JSON.stringify(this.products));
            let s_product = products[index];

            var exists = this.selected_products.find(item => item.product_id == s_product.product_id);
            if (exists === undefined) {
                this.selected_products.push(s_product);
            }
        },
        formatPrice(value) {
            return typeof value == 'string' ? value.parseFloatId().format() : value.format();
        },
        remove_selected(s_product)
        {
            var self = this;
            const swal_confirm = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ml-1',
                    cancelButton: 'btn btn-danger mr-1'
                },
                buttonsStyling: false
            })

            swal_confirm.fire({
                title: self.trans('global.delete'),
                text: self.trans('purchase_order.message.description_delete'),
                type: 'warning',      
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true,
                showLoaderOnConfirm: true,
            }).then((result) => {
                if (result.value) {
                    var index = this.selected_products.indexOf(s_product);
                    if (index > -1) {
                        this.selected_products.splice(index, 1);
                    }
                }
            })
        },
    }
}
</script>